<p>Youtube Link: https://www.youtube.com/watch?v=nRP91C1uX-w</p>
<p>Other: https://medium.com/@mreigen/how-to-use-rails-5-action-cable-to-build-a-chat-system-with-multiple-private-rooms-with-multiple-5bf82d98a5aa</p>
<p>Find me in app/views/landing/index.html.erb</p>

<% @users.each do |user| %>
  <%= link_to "/messages/#{user.id}" do %>
    <br />
    <img src=<%= user.gravatar_url %> alt="" />
    <br />
    <%=  user.username %>
  <% end %>
<% end %>
